*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}
h1{
  padding: 15px auto 0 auto;
  font-size: 20px;
  align-items: center;
}
button,
p,
li{
  font-size: 18px;
}
header{
  background-color: rgb(0, 0, 0);
padding: 0 20px;
border-radius: 6px !important; 
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.nav-bar .nav-list a:hover{
  color: white;
}
.nav-bar img{
  flex: 1;
  display: block;
  max-width: 150px;
}
.men{
  display: none;
  background-color: transparent;
  border:0;
  cursor: pointer;
}
.men div {
  content: "";
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 8px;
}
.nav-bar .nav-list{
  flex: 4;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  
}
.nav-bar .nav-list a {
  text-decoration: none;
  color: rgb(37, 156, 37);
}
.search-bar {
  display: flex;
  flex-direction: row;
  gap: 6px;
  color: #fff;
}
.search-bar input {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}
.search-bar input:focus {
  border-radius: 10px;
  border: none;
  outline: 0px;
}
.search-bar button{
  color: rgb(37, 156, 37);
  background: none;
  border: none;
}
@media screen and (max-width: 930px){
  .men{
    display: block;
  }
  .nav-bar .tira{
    display: none;
  }
  .nav-bar .active {
z-index: 9999;
position: absolute;
width: 100%;
padding: 50px;
left: -20px;
right: 0;
top: 8%;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(0, 0, 0);
border: 2px solid white;
border-radius: 5px;

  }
}

#destaques{
  background-color: rgb(29, 29, 29);
  padding: 40px;
}
#destaques button{
  margin-left: 50px;
  font-size: 60px;
  background: none;
  border: 10px solid black;
  padding: 5px;
  color: #fff;
}
#destaques h1{
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-size: 25px;
}
#destaques .card-video{
  padding: 0 200px;
}
#destaques .card-video .video{
  flex: 1;
  display: block;
  margin: 20px auto;
}
#destaques .card-video .video img {
  height: 500px;
  /* width: 90%; */ 
   margin-left: 40px;
}
#destaques .card-video .video-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;

}
#destaques .card-video .video-info h2 {
  font-size: 30px;
  color: #fff;
}
#destaques .card-video .video-info p{
  font-size: 20px;
  color: rgb(175, 175, 175);
}

@media screen and (max-width: 890px) {

  #destaques {
    padding: 0;
  }

  #destaques .card-video .video {
    width: 100%;
    margin: 0;
  }

  #destaques .card-video .video img {
    height: auto;
    width: 80%;
  }
}
#lancamentos,
#plataformas {
  padding: 2% 10%;
  color: #fff;
  background-color: black;
}

#lancamentos .lanc-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#lancamentos .lanc-info-container h1,
#plataformas h1,
#publishers h1 {
  text-align: center;
}

#lancamentos .lanc-info-container .filtros {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#lancamentos .lanc-info-container .filtros select {
  margin-left: 50px;
  min-height: 40px;
  min-width: 150px;
}

#lancamentos .lanc-container {
  margin: 50px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: 20px;
}

#lancamentos .lanc-container .mini-card {
  flex: 1;
  padding: 20px;
}

#lancamentos .lanc-container .mini-card img {
  /* height: 200px; */
  max-width: 300px;
  align-self: stretch;
}

#loadMoreGamesButton:disabled {
  background-color: var(--gray1);
  cursor: not-allowed;
}
#lancamentos button,
#plataformas button,
#publishers button{
 border-radius: 15px;
 padding: 10px;
 color: rgb(56, 170, 56);
 font-weight: bold;
 cursor: pointer;
}
#lancamentos button:hover,
#plataformas button:hover,
#publishers button:hover {
  background-color: green;
  color:#fff;
}

.plat-container {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.plat-card {
  padding: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  


  /* gap: 20px; */
}
.plat-card img{
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 890px) {
  .plat-container {
    /* flex-direction: column; */

    margin: 0;
  }

  .plat-card {
    padding: 0;
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .plat-container {
    flex-direction: column;

    margin: 0;
  }

  .plat-card {
    padding: 0;
  }
}

@media screen and (max-width: 890px) {
  .image-container {
    display: flex;
    align-items: flex-start;
    width: 10%;
  }

  .image-container img {
    max-width: 100px;
  }
}

#publishers {
  padding: 2% 8%;
  background-color: var(--secondary-purple);
  color: var(--greenb);
}

#publishers .plat-card a {
  color: #fff;
}
#about {
  padding: 2% 10%;
  display: flex;
  flex-direction: row;
  background-color: rgb(29, 29, 29);
}
  
  .about-container {
    flex: 2;
  }
  
  .about-container p,
  .editorial-container p,
  .editorial-container h3 {
    margin-top: 5%;
    color: #fff;
  }
  .about-container h1{
    color:green;
  }
  
  .editorial-container p {
    color: white;
  }
  
  .editorial-container h3 {
    font-size: 30px;
    color: white;
  }
  
  .editorial-container {
    flex: 1;
    color: green;

  }
  
  .redes-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: green;
  }
  
  .redes-container a {
    text-decoration: none;
    color: #fff;
    color: green;
  }
  
  .redes-container i {
    font-size: 40px;
  }
  
  @media screen and (max-width: 890px) {
    #about {
      flex-direction: column;
    }
  }
  
  footer {
    background-color: black;
    height: 100px;
    text-align: center;
    padding-top: 16px;
    font-size: 20px;
    color: white;
  }
  
  footer address a {
    text-decoration: none;
    color: white;
  }
  @media screen and (max-width: 425px){
    #destaques{
      display: none;
    }
    #ordem{
      display: none;
    }
    .plat-card img{
     width: 500px;
     height: 100px;
    margin-left: 3em;
    }
  }

.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: greenyellow;
    top: -10px;
}
.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #1a1a1a;
    top: -10px;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    background: #1a1a1a;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020;
}
.left .content p{
    text-align: justify;
}
.center .content .fas{
    font-size: 23px;
    background: #1a1a1a;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #f12020;
}
.center .content .text{
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 17px;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}
.right form input{
    height: 35px;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #3498db;
}
.right form .text{
    font-size: 17px;
    margin-bottom: 2px;
    color:#fff
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width: 100%;
    background: greenyellow;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.right form .btn button:hover{
    background: #000;
}
.bottom .center{
    padding: 5px;
    font-size: 15px;
    background: #151515;
    text-align: center;
}
.bottom .center span{
    color: #fff;
}
.bottom .center a{
    color: greenyellow;
    text-decoration: none;
}
.bottom .center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    footer{
        position: fixed;
        bottom: 0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box{
        margin: 5px 0;
    }
}
.box h2{
  color: #fff;
}

.text{
  color: rgb(170, 170, 170);
}
.content p{
  color: rgb(170, 170, 170);
}
.place{
  color: rgb(170, 170, 170);
}
.fa-phone-alt{
  color:rgb(56, 170, 56)
}
a{
  text-decoration: none;
}